.app {
    height: 542px;
    margin: 0 9.5% 248px 15%;
    background-image: url(../image/app.png);
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.app-wrapper {
    width: 35%;
    max-width: 450px;
}

.app__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: black;
    margin-bottom: 20px;
}

.app__text-wrapper {
    width: 91%;
}

.app__text {
    font-family: Mulish;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: var(--main-txt-color);
    margin-bottom: 33px;
}

.app__button {
    width: 164px;
    height: 48px;
    background-color: var(--main-orange);
    border-radius: 8px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: white;
    cursor: pointer;
}