.first-promo {
    height: 550px;
    margin: 0 13.5% 292px 9%;
    background-image: url(../image/first-promo.png);
    background-repeat: no-repeat;
    background-position-x: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.first-promo-wrapper {
    width: 39%;
}

.first-promo__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: black;
    margin-bottom: 20px;
}

.first-promo__text-wrapper {
    width: 91%;
}

.first-promo__text {
    font-family: Mulish;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: var(--main-txt-color);
    margin-bottom: 33px;
}

.first-promo__button {
    width: 164px;
    height: 48px;
    background-color: var(--main-orange);
    border-radius: 8px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: white;
    cursor: pointer;
}